{%extends "base.html"%}
{%block head%}
{{super()}}
<link href="{{url_for('static',filename='delete students.css')}}" rel="stylesheet">
{%endblock head%}
{%block content%}
<h1 class="title"><u>Delete students</u></h1>

<div class="parent">
    <div class="row show-grid dashboard">
        <div class="col-lg-4"><p><u><b>first name</b></u></p></div>
        <div class="col-lg-4"><p><u><b>last name</b></u></p></div>
        <div class="col-lg-4"><p><u><b>Select to delete</b></u></p></div>
    </div>

        <form class="dashboard" action="{{ url_for('delete_student') }}" method="POST">
        {% for student in students %}
        <div class="row show-grid dashboard">
            
                <div class=" col-lg-4 "><div class="dashboard-show">{{ student.first_name }}</div></div>
                <div class="col-lg-4"><div class="dashboard-show">{{ student.last_name }}</div></div>
                
                <div class="col-lg-4"><div class="checkbox">
                    <input type="checkbox" name="delete_{{student.id}}" value="True">
                  
                </div></div>
                
            </div>   
        {% endfor %}
        <p class="danger"><span class="danger-sign">⚠️</span><b><u> This action is irreversible!</u></b></p>
        
            <button type='submit' class="delete-button">Delete</button>
        </form>
    
</div>

{%endblock content%}